Types of print statement use:

In [33]:
#1
print(1)
#2
a=1
print(a)
#3
b=3
print(a+b)
#4
print("Value of a is : ",a)
#5
c=1,00,000
print("It will be tuple & we can't change cause it's immutable",c)
#6
d=1+2*2+5
print("sample of equation '1+2*2+5' ans:",d)
#7
s=2-3+2
print(s)
#8
z=1+2**2+6-2
print("Expression:1+2**2+6-2 /n ans : ",z)
#9
f=3.1
print(f+a*f)
f=3.000
print(f+a*f)

1
1
4
Value of a is :  1
It will be tuple & we can't change cause it's immutable (1, 0, 0)
sample of equation '1+2*2+5' ans: 10
1
Expression:1+2**2+6-2 /n ans :  9
6.2
6.0

In [27]:
print(list([1,2,3,2]))
print(tuple((1,2,3)))
#we can append or pop or delete elements in list

[1, 2, 3, 2]
(1, 2, 3)

In [16]:
#sample of string
str1="I love"
str2=' you'
str3=str1+str2
print(str1)
print(str3)
print(str3*2)
print(str1+str2)
print(str1[0])
print(str3[2:])
print(str3[2:6])
print(str3[-2:-1])

I love
I love you
I love you
I
love you
love
o